@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  /* colors */
  --gradient-color: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);

  /* typography */
  --size: 14px;
  --font: 'Raleway', sans-serif;
  --small-weight: 400;
  --big-weight: 700;
}

html {
  height: 100%;
}

body {
  display: block;
  background-color: var(--very-dark-blue);
  background-image: url('./images/bg-desktop.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

@media (min-width: 1440px) {
  .container > div {
    display: inline-block;
  }
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fylo {
  font-family: var(--font);
  background: var(--dark-blue);
  width: 250px;
  height: 164px;
  border-radius: 10px;
  border-top-right-radius: 90px 90px;
  color: white;
}

.fylo > img {
  padding: 40px 0px 0px 20px;
}

.fylo > .buttons {
  padding: 20px 0px 50px 20px;
}

.button {
  background-color: var(--very-dark-blue);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.progress-bar {
  font-family: var(--font);
  width: 450px;
  height: 130px;
  background: var(--dark-blue);
  margin-left: 10px;
  color: white;
  font-size: var(--size);
  border-radius: 10px;
}

.progress-bar > p {
  padding: 20px 0px 5px 40px;
}

.bar {
  height: 10px;
  position: relative;
  background: var(--very-dark-blue);
  -webkit-border-radius: 15px;
  border-radius: 25px;
  padding: 5px;
  margin: 0px 25px 0px 25px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.bar-color {
  display: block;
  height: 100%;
  width: 82%;
  background-image: var(--gradient-color);
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.bar > .storage {
  margin-top: 10px;
  font-size: 9pt;
}

#last {
  margin-left: 315px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 312px;
}

.bubble {
  position: absolute;
  top: 5px;
  left: 530px;
  background: #ffffff;
  color: #000000;
  font-size: 30px;
  font-weight: var(--big-weight);
  line-height: 57px;
  text-align: left;
  width: 130px;
  height: 53px;
  border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  padding: 0px;
  margin-left: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
}

@media (min-width: 1440px) {
  .bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 21px 25px 0;
    border-color: transparent #ffffff transparent transparent;
    bottom: -20px;
    left: 93%;
    margin-left: -11px;
  }
}

.bubble > span {
  font-size: 10px;
  font-weight: var(--small-weight);
  color: var(--grayish-blue);
  position: absolute;
  top: 2px;
  left: 80px;
}

.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: var(--pale-blue);
  font-family: var(--font);
  text-align: center;
}

/* mobile design */
@media (max-width: 375px) {
  body {
    height: 100%;
    display: block;
    background-image: url('./images/bg-desktop.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .container {
    position: static;
    display: block;
  }

  .fylo {
    position: absolute;
    top: 200px;
    left: 200px;
    font-family: var(--font);
    background: var(--dark-blue);
    border-radius: 10px;
    border-top-right-radius: 90px 90px;
    color: white;
  }

  .fylo > img {
    padding: 40px 0px 0px 20px;
  }

  .fylo > .buttons {
    padding: 20px 0px 50px 20px;
  }

  .button {
    background-color: var(--very-dark-blue);
    border: none;
    padding: 10px;
    border-radius: 10px;
  }

  .progress-bar {
    position: absolute;
    top: 380px;
    left: 190px;
    font-family: var(--font);
    background: var(--dark-blue);
    color: white;
    font-size: var(--size);
    border-radius: 10px;
    width: 250px;
  }

  .progress-bar > p {
    font-size: 9pt;
    padding: 20px 0px 5px 30px;
  }

  .bar {
    height: 10px;
    position: relative;
    background: var(--very-dark-blue);
    -webkit-border-radius: 15px;
    border-radius: 25px;
    padding: 5px;
    margin: 0px 25px 0px 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }

  .bar-color {
    display: block;
    height: 100%;
    width: 82%;
    background-image: var(--gradient-color);
    position: relative;
    overflow: hidden;
    border-radius: 25px;
  }

  .bar > .storage {
    margin-top: 10px;
    font-size: 9pt;
  }

  #last {
    margin-left: 110px;
  }

  .dot {
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 150px;
  }

  .bubble {
    position: absolute;
    top: 110px;
    left: 50px;
    background: #ffffff;
    color: #000000;
    font-size: 20pt;
    font-weight: var(--big-weight);
    text-align: left;
    width: 100px;
    height: 53px;
    border-radius: 10px;
  }

  .bubble > span {
    font-size: 10px;
    font-weight: var(--small-weight);
    color: var(--grayish-blue);
    position: absolute;
    top: 2px;
    left: 70px;
  }

  .attribution {
    position: absolute;
    top: 580px;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 20px;
    color: var(--pale-blue);
    font-family: var(--font);
    text-align: center;
    font-size: 9pt;
  }
}
